<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Default Values to use if there is no default node set in Umbraco -->
    <add key="DefaultLocationName" value="Liverpool" />
    <add key="DefaultLocationPostcode" value="L1 3BN" />
    <add key="DefaultLocationPhoneNumber" value="0151 123 4321" />
    <add key="DefaultLocationLongitude" value="-2.9856532524113" />
    <add key="DefaultLocationLatitude" value="53.4040192210704" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>